.weapon {
  display: flex;
  justify-content: left;
  grid-gap: 1vh;
  background-color: #f7f7f7;
  padding: 0.5vh;
  border-radius: 10px;
  margin-top: 1vh;
  width: 95%;
  align-items: center;
  border: 1px solid #f1f1f1;
}
