
.weapons {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  margin-top: 2vh;
  grid-gap: 2vh;
  gap: 2vh;
  justify-content: space-between;
  h2 {
    margin: unset;
  }
  .weaponsList {
    max-height: 40vh;
    overflow-y: scroll;
    min-width: 80%;
    .shoppingListHeader {
        display: flex;
        justify-content: space-between;
        span {
          margin-right: 2vh;
          cursor: pointer;
        }
    }
  }
  
}

.total {
  text-align: left;
}

@media (max-width: 800px) {
  .weapons {
    flex-direction: column;
  }
}
